// Side layout

section {

  &.cta-section {

    background-color: transparent;
    position: relative;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);

    @media (max-width: #{$container-mobile}) {

      clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
    }

    // &.cta-content-center.banner {
    //
    //   height: 60vh;
    //   padding: 0;
    //
    //   & article,
    //   & .hero-image {
    //
    //     @include centered;
    //     position: absolute;
    //   }
    // }

    & .container {

      @include center(1080px);
      padding: 5rem 0;
      z-index: 5;
      // height: 100%;

      & h3 {

        color: white;
        text-align: center;
        margin-top: 0;
        line-height: 1;
        z-index: 4;

        &:before,
        &:after {

          content: none;
        }
      }
    }

    & article {

      @include column(1/3);
      // @include vertical-align;
      position: relative;
      background-color: $tertiary;
      border-radius: $standard-radius;
      padding: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 3rem;
      height: 12rem;
      cursor: pointer;
      overflow: hidden;

      @media(max-width: $grid-base-size) {

        @include stack;
        margin: 1rem auto;
        width: 80%;
      }

      & * {
        color: $white;
      }

      & h4 {
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 0.75rem;
      }

      & p {
        font-size: 1.125rem;
        margin: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 10px;
        background: $quarternary;
        opacity: 0.85;
        transition: opacity 0.3s, width 0.3s ease;
        pointer-events: none;
      }

      &:after {
        content: 'GO';
        color: white;
        font-weight: $font-weight-black;
        font-size: 7rem;
        line-height: 12rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-300%,-50%);
        transition: transform 0.3s ease;
        pointer-events: none;
      }

      & .bug {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        height: 3rem;
        width: 3rem;
        background-color: $quinary;
        box-shadow: 1px 1px 12px rgba(0,0,0,0.5);
        border-radius: 100%;
        transition: background-color 0.3s ease;

        & i{
          @include centered;
          position: absolute;
        }
      }

      & .card-bkg {

        @include absolute-cover(-2px);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.1;
        transition: opacity 0.3s;
        z-index: -1;
      }

      &:hover {

        &:before {

          width: 100%;
          opacity: 0.95;
        }

        &:after {

          transform: translate(-50%,-50%);
        }

        & .bug {

          background-color: $primary;
        }

        & .card-bkg {

          opacity: 0;
        }
      }

      p {

        // @include center(70%);
      }

      z-index: 4;
    }

    & .hero-film,
    & .hero-color {

      @include absolute-cover(-2px);
    }

    & .hero-film {

      background: url($filmGrain);
      z-index: 3;
    }

    & .hero-color {

      background-position: center;
      z-index: 2;

      &.hero-radial {

        background-size: 120% 150%;
      }
    }
  }
}
