// Side layout
.hero {

  @include background-cover();
  background-position: center;
  background-color: #e9e9e9;
  position: relative;
  min-height: 700px;
  overflow: hidden;
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  z-index: 50;

  &.hero-front {

    background-color: transparent;
    height: 75vh;
    position: relative;
  }

  &.hero-page {

    height: 50vh;
  }

  &.hero-front,
  &.hero-page {

    @media(max-width: $grid-base-size) {
      //
    }

    @media(max-width: $container-mobile) {

      height: 60vh;
      min-height: auto;
    }
  }

  & .page-titles {
    @include vertical-align;
    text-align: center;
    z-index: 4;
  }

  & .hero-film,
  & .hero-color,
  & .hero-image {
    @include absolute-cover(-2px);
  }

  & .hero-film {
    background: url($filmGrain);
    z-index: 3;
  }

  & .hero-color {
    background-position: center;
    z-index: 2;

    &.hero-radial {
      background-size: 120% 150%;
    }
  }

  & .hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
}
