// Site header

// Uncomment for debugging
// @include debug(white);

.site-header {
  position: fixed;
  @include fluid-type(rem-calc($container-mobile), rem-calc($grid-base-size), rem-calc(50px), rem-calc(80px), height);
  width: 100%;
  z-index: 1000;
  background: $color-header;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  transition: 0.3s background ease, transform 0.3s ease;

  &.head-fake {
    transform: translateY(-100%);
  }

  &.dark {
    background: $quarternary;
  }

  &:hover {
    background: fade-out($quarternary,0.25);
  }

  .container {
    padding: 0;
  }

  // CSS for nav links specific to the header
  nav {

    // display: inline-block;
    @include span(4/10);
    height: 100%;

    @media(max-width: ($responsivenav)-1px) {
      display: none;
    }

    &.nav-full {

      text-align: center;
      text-transform: capitalize;
      padding: 0 !important;
      margin: 0 !important;

      ul {

        @include center(100%);
        @include vertical-align;
        list-style: none;
        margin: 0;

        li {
          @include span(1/2);
          text-align: center;
          margin: 0 auto;
          // float: right;

          a {
            color: $color-text-light;
            font-weight: $font-weight-heavy;
            padding-bottom: 0.375rem;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }

  .site-branding {
    overflow: hidden;

    @media(min-width: $responsivenav) {
      @include span(2/10);
    }

    @media(max-width: ($responsivenav)-1px) {
      @include center(50%);
    }

    .site-title {
      overflow: hidden;
      margin: 0;

      a {
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
      }

      a, img {
        display: block;
      }

      img {
        max-height: 60%;
        @include vertical-align;
      }
    }
  }

  & .container,
  & .site-branding,
  & .site-branding .site-title,
  & .site-branding .site-title a {
    height: 100%;
  }
}
